/* === import font here === */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  background: #fff;
  font-family: "Kanit", sans-serif;
}

/* === this class is universal === */
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  height: 100%;
  margin: 0 auto;
  /* === set horizontal padding to avoid sticky container for smaller screens=== */
  padding: 0px 20px;
  /* === set container maxwidth. max-width = necessary width + padding === */
  max-width: 1240px;
}

.btn {
  text-align: center;
  border-radius: 50px;
  min-height: 40px;
  padding: 13px 42px;
  border: 2px solid #000;

  transition: background 0.2s;
}

.btn span {
  display: inline-block;
  position: relative;

  transition: transform 0.2s;
}

.btn img {
  position: absolute;
  opacity: 0;
  right: 0;
  top: -5px;

  transition: opacity 0.2s, right 0.2s;
}

/* ============= header ============== */

@keyframes header-load {

  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}

@keyframes burger-load {

  0% {
    background: rgba(255, 255, 255, 0);
  }

  100% {
    background: rgba(255, 255, 255, 1);
    transform: translateY(0px);

  }
}

.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: background 0.3s;
}

.header__inner {
  height: 60px;
}

.header__nav {
  line-height: 1;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__list {
  font-weight: 500;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.header__item {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.header__item:nth-child(1) {
  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.4s 1 forwards;
}

.header__item:nth-child(2) {
  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.5s 1 forwards;
}

.header__item:nth-child(3) {
  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.6s 1 forwards;
}

.header__item:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.7s 1 forwards;
}

.header__item:nth-child(5) {
  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.8s 1 forwards;
}






.header__item:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 1px;
  top: 0;
  right: -10px;
  background: #fff;
}

.header__item:last-child::after {
  display: none;
}

.header__logo {

  position: relative;
  z-index: 1;
  display: flex;
  font-size: 40px;
  font-weight: 400;
  max-width: 113px;

  opacity: 0;
  transform: translateY(-10px);
  animation: header-load 0.3s 0.3s 1 forwards;
}

.header__logo img {
  width: 100%;
}

.burger-menu {
  display: none;
}

/* ============= footer ============== */

.footer {
  margin-bottom: 20px;
}

.footer__inner {
  background: #d9d9d9;
  border-radius: 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 200px;
}

.footer__logo {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  width: fit-content;
}

.footer__list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.footer__item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.footer__item--social a {
  display: inline-flex;
  align-items: center;
}

.footer__item--social img {
  margin-right: 10px;
}

/* ===================== */
/* ===================== */
/* ===================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */

  .btn:hover {
    background: #c90101;
    border: 2px solid #c90101;
  }

  .btn:hover.btn span {
    transform: translateX(-5px);
  }

  .btn:hover.btn img {
    opacity: 1;
    right: -10px;
  }





}

@media (max-width: 900px) {

  .burger-menu {
    margin-right: -20px;
    position: absolute;
    z-index: 4;
    top: 0px;
    right: 0px;
    display: block;
    padding: 27px 0px;
    cursor: pointer;

    transition: right 0.3s;
  }

  .burger-menu span {
    display: block;
    width: 60px;
    height: 5px;
    position: relative;

    transition: background 0.2s, transform 0.2s;

    background: rgba(255, 255, 255, 0);
    transform: translateY(-10px);
    animation: burger-load 0.3s 0.4s 1 forwards;
  }

  .burger-menu span::before {
    content: '';
    position: absolute;
    top: -11px;
    display: block;
    width: 60px;
    height: 5px;

    transition: background 0.2s, top 0.2s;

    background: rgba(255, 255, 255, 0);
    transform: translateY(0px);
    animation: burger-load 0.3s 0.5s 1 forwards;
  }

  .burger-menu span::after {
    content: '';
    position: absolute;
    top: 11px;
    display: block;
    width: 60px;
    height: 5px;

    transition: background 0.2s, top 0.2s;

    background: rgba(255, 255, 255, 0);
    transform: translateY(-10px);
    animation: burger-load 0.3s 0.3s 1 forwards;
  }

  .burger-menu--opened span {
    background: transparent;
  }

  .burger-menu--opened span::before {
    top: 0;

    transition: background 0.2s, top 0.2s;
  }

  .burger-menu--opened span::after {
    top: 0;

    transition: background 0.2s, top 0.2s;
  }

  body.body-menu--opened {
    overflow: hidden;
  }

  /* ============== header ============== */

  .header__list {
    visibility: hidden;
    position: absolute;
    inset: 0;
    right: -50vw;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 40px;
    height: 100vh;
    margin: 0 -20px;
    padding: 60px 20px;

    transition: opacity 0.3s, right 0.3s, visibility 0.3s;
  }

  .body-menu--opened .header {
    background: rgba(0, 0, 0, 0);
  }

  .body-menu--opened .header__list {
    visibility: visible;
    opacity: 1;
    right: 0;
  }

  .header__item:after {
    display: none;
  }

  /* ============== footer ============== */

  .footer__list {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

  }

}

@media (max-width: 650px) {}

@media (max-width: 500px) {

  .header__logo {
    font-size: 20px;
  }

  .footer__logo {
    font-size: 20px;
  }

  .footer__item {
    font-size: 14px;
  }
}