/* === import font here === */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.body {
  background: #fff;
  font-family: "Inter Tight", sans-serif;
}

/* === this class is universal === */
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  height: 100%;
  margin: 0 auto;
  /* === set horizontal padding to avoid sticky container for smaller screens=== */
  padding: 0px 20px;
  /* === set container maxwidth. max-width = necessary width + padding === */
  max-width: 1240px;
}

/* ============= header ============== */
.header {
  line-height: 1;
}

.header__inner {
  padding: 20px 40px;
  margin-top: 20px;
  background: #D9D9D9;
  height: 80px;
  border-radius: 40px;
}

.header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__list {
  font-weight: 500;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.header__item {
  text-transform: uppercase;
}

.header__logo {
  font-size: 40px;
  font-weight: 400;
}

.burger-menu {
  display: none;
}

/* ============= footer ============== */

.footer {
  margin-bottom: 20px;
}

.footer__inner {
  background: #d9d9d9;
  border-radius: 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 200px;
}

.footer__logo {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  width: fit-content;
}

.footer__list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.footer__item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.footer__item--social a {
  display: inline-flex;
  align-items: center;
}

.footer__item--social img {
  margin-right: 10px;
}

/* ===================== */
/* ===================== */
/* ===================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */
}

@media (max-width: 900px) {

  .burger-menu {
    position: absolute;
    z-index: 4;
    top: 0px;
    right: 0px;
    display: block;
    padding: 19px 0px;
    cursor: pointer;

    transition: right 0.3s;
  }

  .burger-menu span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    position: relative;

    transition: background 0.2s, transform 0.2s;
  }

  .burger-menu span::before {
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background: #000;

    transition: background 0.2s, transform 0.2s, top 0.2s 0.2s;
  }

  .burger-menu span::after {
    content: '';
    position: absolute;
    top: 8px;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background: #000;

    transition: background 0.2s, transform 0.2s, top 0.2s 0.2s;
  }

  .burger-menu--opened span {
    background: transparent;
  }

  .burger-menu--opened span::before {
    transform: rotateZ(45deg);
    top: 0;

    transition: background 0.2s, transform 0.2s 0.2s, top 0.2s;
  }

  .burger-menu--opened span::after {
    transform: rotateZ(-45deg);
    top: 0;

    transition: background 0.2s, transform 0.2s 0.2s, top 0.2s;
  }

  body.body-menu--opened {
    overflow: hidden;
  }

  /* ============== header ============== */

  .header__list {
    visibility: hidden;
    position: absolute;
    inset: 0;
    top: -50vh;
    opacity: 0;
    background: #D9D9D9;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100vh;
    margin: -40px -60px;

    transition: opacity 0.3s, top 0.3s, visibility 0.3s;
  }

  .body-menu--opened .header__list {
    visibility: visible;
    top: 0;
    opacity: 1;
  }

  /* ============== footer ============== */

  .footer__list {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

  }

}

@media (max-width: 650px) {}

@media (max-width: 500px) {

  .header__logo {
    font-size: 20px;
  }

  .footer__logo {
    font-size: 20px;
  }

  .footer__item {
    font-size: 14px;
  }
}