@keyframes hero-bg-load {

  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hero {
  overflow: hidden;
  z-index: -1;
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  transform: scale(1.5);

  animation: hero-bg-load 1s 0s 1 forwards;
}

.hero::after {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* === collection === */

.collection {}

.collection__inner {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__img {
  width: 100%;
  max-width: 449px;
  margin-bottom: 10px;
}

.collection__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.collection__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.collection__divider {
  width: 300px;
  height: 1px;
  background: #000;
  margin-bottom: 60px;
}

.collection__gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 940px;
  margin-bottom: 60px;
}

.collection__gallery img {
  width: 100%;
  max-width: 300px;
}

.collection__link {
  letter-spacing: 0.05em;
  font-weight: 300;
}

/* === about === */
.about {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.about__bg {
  position: absolute;
  inset: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.about:after {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.4;
}

.about__inner {
  position: relative;
  z-index: 1;
  padding: 60px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: #fff;
}

.about__title {
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.about__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.about__link {
  border: 2px solid #fff;

  transition: border 0.2s background 0.2s;
}

















/* ===================================== */
/* ===================================== */
/* ===================================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */

}

@media (max-width: 1000px) {

  .collection__gallery {
    flex-direction: column;
    align-items: center;
  }

  .collection__gallery img {
    width: 100%;
    max-width: 500px;
  }

  .collection__link {
    letter-spacing: 0.05em;
    font-weight: 300;
  }

}

@media (max-width: 600px) {
  .about__title {
    font-size: 40px;
  }
}

@media (max-width: 400px) {

  .collection__inner {
    margin: 30px 0;
  }

  .collection__img {
    max-width: 200px;
  }

  .collection__title {
    font-size: 22px;
  }

  .collection__info {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .collection__divider {
    width: 200px;
    margin-bottom: 30px;
  }

  .about {
    min-height: 290px;
    height: 100%;
  }

  .about__inner {
    padding: 30px 0;
    gap: 30px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__info {
    font-size: 14px;
  }


}