.main {}

.hero {
  z-index: -1;
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
}
.hero::after{
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}