.main {}

.main__inner {}

.main__content {
  background: #d9d9d9;
  min-height: 300px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 96px;
  margin-top: 50px;
}
.main__content:last-child{
  margin-bottom: 50px;
}

.content-1 {}

.content-2 {}

.content-3 {}