@keyframes hero-bg-load {

  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hero {
  overflow: hidden;
  z-index: -1;
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  transform: scale(1.5);

  animation: hero-bg-load 1s 0s 1 forwards;
}

.hero::after {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* === collection === */

.collection {}

.collection__inner {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__img {
  width: 100%;
  max-width: 449px;
  margin-bottom: 10px;
}

.collection__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.collection__info {
  font-weight: 300;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
text-align: center;
margin-bottom: 15px;
}

.collection__divider {
  width: 300px;
height: 1px;
background: #000;
margin-bottom: 60px;
}

.collection__gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 940px;
  margin-bottom: 60px;
}
.collection__gallery img{
width: 100%;
max-width: 300px;
}

.collection__link {
  letter-spacing: 0.05em;
  font-weight: 300;
}



















/* ===================================== */
/* ===================================== */
/* ===================================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */

}

@media (max-width: 1000px) {

.collection__gallery {
  flex-direction: column;
  align-items: center;
}
.collection__gallery img{
width: 100%;
max-width: 500px;
}

.collection__link {
  letter-spacing: 0.05em;
  font-weight: 300;
}

}