.main {}

@keyframes hero-bg-load {

  0% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

.hero {
  overflow: hidden;
  z-index: -1;
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  transform: scale(1.5);

  animation: hero-bg-load 1s 0s 1 forwards;
}

.hero::after {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}