.hero {
  overflow: hidden;
  z-index: -1;
  height: 100%;
  height: 400px;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: hero-bg-load 1s 0s 1 forwards;
}

.hero::after {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* === products === */

.products {}

.products__inner {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.series {
  border-bottom: 1px solid #7F7F7F;
  padding: 40px 0 30px;
}
.series:last-child{
  padding: 40px 0 20px;
  border-bottom: none;
}

.series__title {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.series__sizes {
  display: block;
  font-weight: 300;
  font-size: 14px;
}

.series__price {
  display: block;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.series__divider {
  display: block;
  width: 150px;
  height: 1px;
  background: #c90101;
  margin-bottom: 40px;
}

.series__list {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-columns: 1fr 1fr 1fr 1fr; */
  overflow: hidden;
}

.series_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series__item-img {
  width: 100%;
}

.series__item-title {
  margin: 20px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series_item--new .series__item-title::after {
  content: "NEW RELEASE";
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #C90101;
  margin-top: 10px;
}







/* ===================================== */
/* ===================================== */
/* ===================================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */

}

@media (max-width: 900px) {
  .series__list{
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .series__list{
        /* grid-template-columns: repeat(1, 1fr); */
  }
}

@media (max-width: 400px) {}