.hero {
  overflow: hidden;
  z-index: -1;
  height: 100%;
  height: 400px;
  position: relative;
}

.hero__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: hero-bg-load 1s 0s 1 forwards;
}

.hero::after {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* === product === */
.product {
  padding: 80px 0;
  border-bottom: 1px solid #7F7F7F;


}

.product__inner {}

.product__card {
  /* border: 1px solid #00f; */
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.product__img-wrapper,
.product__info-wrapper {
  width: 50%;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__img {
  /* border: 1px solid #000; */
  /* width: 100%; */
  width: 500px;
}

.product__info {
  text-align: right;
  /* border: 1px solid #000; */
  line-height: 1;
}

.product__title {
  font-weight: 500;
  font-size: 100px;
  margin-bottom: 50px;
}

.product__sizes {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

#wheel-size,
#wheel-qty {
  position: relative;
  height: 40px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #000;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
  cursor: pointer;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}


.product__qty {
  font-weight: 300;
  font-size: 14px;

  margin-bottom: 10px;
}

.product__info label {
  font-weight: 300;
  font-size: 14px;

  margin-right: 10px;
}

.product__info a {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  width: 100%;
  max-width: 255px;
}


.suggestions {
  padding: 40px 0;
  width: 100%;
}

.suggestions__inner {
  width: 100%;
}

.suggestions__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 40px;
}

.suggestions__list {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

.suggestions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions__item-img {
  width: 100%;
}

.suggestions__item-title {
    margin: 20px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions__item--new .suggestions__item-title::after {
  content: "NEW RELEASE";
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #C90101;
  margin-top: 10px;
}







/* ===================================== */
/* ===================================== */
/* ===================================== */

@media (min-width: 900px) {
  /* === for all :hover classes === */

}

@media (max-width: 800px) {
  .product__card {
    flex-direction: column;
  }

  .hero {
    height: 200px;
  }
  .suggestions__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product {
    padding: 40px 0;
  }

  .product__card {
    gap: 20px;
  }

  .product__img-wrapper,
  .product__info-wrapper {
    width: 100%;
  }

  .product__info-wrapper {
    justify-content: start;
  }

  .product__img {
    width: 300px;
  }

  .product__info {
    width: 100%;
    text-align: left;
  }

  .product__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .product__info button {
    max-width: unset;
  }


}

@media (max-width: 400px) {}